*{
    margin: 0;
    padding: 0;
}

.main{
    background-color:rgba(0,0,0,0.1);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
  
}

.plus1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 100%;
}

img{
    height: 45px;
    width: 45px;
}

.icon{
    cursor: pointer;

}



.material{
    position: absolute;
    top: 80px;
    background-color: cornflowerblue;
    
   
    

}





tr{
    display: flex;
    flex-direction: column;
}

td{
    padding: 10px;
    background-color: chartreuse;
    border: 1px solid black;
    width: 180px;
    cursor: pointer;
    transition: all ease-in-out;
}

td:hover{
    background-color: rgba(128, 255, 0, 0.55);
    transform: scale(1);
    transition: 0.02;
}

